body {
    font-family: 'Times New Roman', serif;
  }
  
  header {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', serif;
    background-color: rgb(203 213 225);
  }
  
  .user-details {
    margin-bottom: 10px;
  }
  
  .user-details input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .started {
    color: white;
    font-weight: bold;
    background: green;
    padding: 5px;
    border-radius: 5px;
  }
  
  .container-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    margin-top: 150px;
    margin-bottom: 20px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .container img {
    max-width: 100%;
    max-height: 800%;
    object-fit: contain;
  }
  
  .completed {
    color: white;
    font-weight: bold;
    background: green;
    padding: 5px;
    border-radius: 5px;
  }
  
  h4 {
    color: black;
    text-shadow: 2px 2px 4px rgb(232, 232, 241);
  }
  
  .card {
    flex: 1;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    border-radius: 12px;
    /*background-image: linear-gradient(to top, #e8a2a2 10%, #f3733d 80%);*/
    background: linear-gradient(to top, lime, 20%, cyan);
    padding: 50px;
    margin-top: 40px;
    margin-right: 20px;
    max-width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #f7f7f7;
    border-radius: 10px 10px 0 0;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  .form-control:focus {
    border-color: #FF8551;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }